@media only screen and (min-width: 32.5em) {

    body {
        max-width: 960px;
        margin: 0;
        
    }
    header, footer {
        background-color: #e76f51;color:white ;
        padding:30px;
        border-radius:10px;
    }
    img {
        border-radius:10px;
        float: right;
          
    }
    ul {
        text-align: left;
    }
}