@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Roboto&display=swap');

body {
    text-align: center;
    margin: 0;
    text-align: center;
}

header {
    background-color: #e76f51;color:white ;
    padding:30px;
    
}
h1 {
    margin: 0;
    font-family: 'Original Surfer', cursive;
}

h2 {
    font-family: 'Roboto', sans-serif;
    padding: 9px;
    text-align: center;
    margin: 0;
}
ul {
    margin:0;
    font-family: 'Roboto', sans-serif;
}

img {
    border-radius:10px;
    float: center;
       
}

main {
    background-color: white;
    padding:60px;
    
}

footer {
    text-align: center;
    padding:30px;
    background-color: #e76f51;color:white ;
    font-family: 'Roboto', sans-serif;
}
p {
    padding: 20px;
    margin:10px;
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }


