
body {
    text-align: center;
}

header {
    background-color: #e76f51;color:white ;
    padding:30px;
    text-align: center;
}
h1 {
    margin: 0;
    font-family: 'Original Surfer', cursive;
}

h2 {
    font-family: 'Roboto', sans-serif;
    padding: 9px;
    text-align: center;
    margin: 0;
}
ul {
    font-family: 'Roboto', sans-serif;
}

img {
    border-radius:10px;
}

main {
    padding:60px;
    text-align: left;
}

footer {
    text-align: center;
    padding:30px;
    background-color: #e76f51;color:white ;
    font-family: 'Roboto', sans-serif;
}
p {
    padding: 20px;
    margin:10px;
}
a {
    font-family: 'Roboto', sans-serif;
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }


