body {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #e76f51;color:white ;
    padding:30px;
    border-radius:10px;
}
h1 {
    margin: 0;
}

h2 {
    border-bottom-style: solid ;
    
    margin: 0;
}
ul {
    margin:0;
}

img {
    border-radius:10px;
    float: right;   
}

main {
    background-color: white;
    padding:60px;
    
}

footer {
    padding:30px;
    background-color: #e76f51;color:white ;
    border-radius:10px;
}
p {
    margin:0;
}
@media screen and (max-width: 550px) { 
    main {
    display: block;
    }
}