@media only screen and (min-width: 32.5em) {
    main {
        display:grid;
        grid-template-columns: 1fr 1fr ;
        padding:20px;
        gap: 20px;
    }
    section {
        border-radius: 10px;
        padding:30px;
        
   }
   img {
    margin-top: 20px;
    border-radius: 10px;
}
}