@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

nav {
    
    background-color: #ffe66d;
    font-family: "Open Sans", sans-serif;
}
.navigation {
    margin: 0 auto;
    max-width: 760px;
    list-style-type: none;
    padding: 0;

}
.navigation li:first-child {
    display: block;
    text-decoration: none;
    color:#555;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}
nav ul li a:hover {
    background-color:rgba(85,85,85); color: #ffe66d;
}
.responsive li {
    display: block;
}

/*----------------------main---------------------*/
main ,footer{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(65, 64, 64);
}
.title {
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(65, 64, 64);
    font-size: 30px;
}
header, footer {
    padding: 15px;
    text-align: center;
    background-color: #fdeb91;
}
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #fdeb91;
}
.contentbox {
    display: block;
    margin: 10px auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(121, 120, 120);
    padding: 15px;
    background-color: #4ecdc4;
    color: #f7fff7;
}
.contentbox-forecast {
    display: block;
    margin-bottom: 10px auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(121, 121, 121);
    padding: 15px;
    background-color: #f7fff7;
    color: #4ecdc4;
}
h3 {
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(65, 64, 64);
}

