@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* prevent of ajustment of font size after orientation changes */
 html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
 
 /*-------apply a natural box layout model to all elements------------*/
* { -noz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

 nav button {
    margin: .8rem 1%;
    background-color:transparent ;
    border:none ;
    font-size: 2rem ;
}
nav {
    background-color: #ffe66d;
    font-family: "Open Sans", sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}
nav ul li a {
    /*text-align: center;*/
    display: block;
    padding:.8rem 2%;
    text-decoration: none;
    color:#555;
    border-top:  1px solid rgba(0,0,0,0.3);
}
nav ul li a:hover {
    background-color:rgba(85,85,85); color: #ffe66d;
}