@media screen and (min-width:32.5em) {

    /*-----------------------header------------------------*/
    header img {
        width: 100%;
    }
    .headings h1 {
        font-size: 3rem;
    }
    .subtitle {
        font-size: larger;
    }



    /*-----------------------nav------------------------*/
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    nav a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }




/*-------------------main-----------------------*/
    .contentbox {
        margin: 10px auto;
        max-width: 960px;
    }
    .contentbox-forecast {
        margin: 10px auto;
        max-width: 960px;
    }
    .statis { 
        position: absolute;
        top: 25px;
        left: 50px;
        background:#4ecdc4;
        padding: .5rem;
        box-shadow: 0 0 30px #333;
        opacity: .9;
    }
}