@media only screen and (min-width: 32.5em) {

    body {
        
        margin: 0;
        text-align: center;
    }
    header, footer {
        background-color: #e76f51;color:white ;
        padding:30px;
        border-radius:10px;
        
    }
    main {
        background-color: white;
        padding:14%;
        
    }
    img {
        border-radius:10px;
        float: right;
          
    }
    h1 {
        margin-top: 10px;
        text-align: left;
        }
    ul {
    
        margin: 20px;
        text-align: left;
    }
    p {
        
    }
}