/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    nav ul li a {
        padding: .6rem 1rem;
    }
     /*-----------------------header------------------------*/
     header img {
        width: 100%;
    }
    .headings h1 {
        font-size: 3rem;
    }
    .subtitle {
        font-size: larger;
    }



    /*-----------------------nav------------------------*/
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    nav a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }




    /*-------------------main-----------------------*/
   .article-preston {
       
    margin:  15px auto;
    border-radius: 4px;
    max-width: 960px;
   
   }
   .article-preston .imgarticle{
        float:left;
   }
    .contentbox-forecast {
        margin: 10px auto;
        max-width: 960px;
    }
    .statis { 
        position: absolute;
        top: 25px;
        left: 50px;
        background:#4ecdc4;
        border: 1px solid #000;
        padding:0;
        box-shadow: 0 0 30px #333;
        opacity: .9;
    }
    .gallery-07{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*contentbox2*/
    .contentbox2 .cards {
        display:flex;
        flex-direction: row-reverse;
        gap: 10px;
        margin: 0;
        padding: 0;
        
    }
    .contentbox2 .cards > section {
        display: block;
        
       
    }
     
    .contentbox2 .cards section img {
        width: 90%;
        padding: 0;
        margin-bottom: 2%;
    }
    .contentbox{
    margin: 10px auto;
    margin-bottom: 10px;
    max-width: 960px;
    padding-top: 10px;
    }
    /*****************gallery***********************/
    .figureplaceholder:hover {
        box-shadow: 0 0 50px #333;
    }
}

