@media only screen and (min-width: 37.5em) {
    nav ul {
        display:flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav a:hover {
        background: #f7fff7;
        color:black;
        border-radius: 0;
    }
}